.checkout-container{
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;

    .checkout-description{
        display: flex;
        justify-content: space-evenly;
    }

    .checkout-item-display {
        // display: grid;
        // grid-template-columns: repeat(4,1fr);
        // column-gap: 10px;
        // row-gap: 50px;

        .checkout-product-container{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            img {
                width: 10%;
                }
        }
    }

}